<form class="form-inline">
    <!-- ko foreach: { data: snapshots, as: 'snapshot' } -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title pull-left" data-bind="text: panelTitle"></h3>
            <span class="pull-right" data-bind="text: panelCollapseText, click: togglePanel"></span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" data-bind="visible: isExpanded">
            <fieldset>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label">Age</label>
                        <select class="form-control" data-bind="options: $parent.ages, value: age"></select>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Filing Status</label>
                        <select class="form-control"
                                data-bind="options: $parent.filingStatuses, optionsText: 'display', value: filingStatus">
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Gross Income</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control"type="text" data-bind="value: grossIncome" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label">401k contribution amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" data-bind="value: _401k" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Roth IRA Contribution</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" data-bind="value: roth" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">After tax contributions</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" data-bind="value: afterTax" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Current retirement portfolio value</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" data-bind="value: principal" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label">Est. safe withdrawal rate</label>
                        <div class="input-group">
                            <input class="form-control" type="text" data-bind="value: $parent.safeWithdrawalRate"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Rate of return</label>
                        <div class="input-group">
                            <input class="form-control" type="text" data-bind="value: $parent.returnRate"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-lg-offset-3 col-lg-3">
                        <button type="button" class="btn label-offset"
                                data-bind="click: $parent.deleteSnapshot, visible: $parent.isDeleteVisible">
                            Delete this financial snapshot
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- /ko -->
    <button type="button" class="btn btn-primary pull-right" data-bind="click: newSnapshot">
        Add a new financial snapshot
    </button>
    <div class="clearfix"></div>
</form>