<form class="form-inline">
    <fieldset>
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label" for="filing-status">Filing Status</label>
                <select class="form-control"
                        data-bind="options: filingStatuses, optionsText: 'display', value: filingStatus">
                </select>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="gross-income">Gross Income</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="gross-income" type="text" data-bind="value: grossIncome" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label" for="401k">401k contribution amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="401k" type="text" data-bind="value: _401k" />
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="roth">Roth IRA Contribution</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="roth" type="text" data-bind="value: roth" />
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="after-tax">After tax contributions</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="after-tax" type="text" data-bind="value: afterTax" />
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="principal">Current retirement portfolio value</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="principal" type="text" data-bind="value: principal" />
                </div>
            </div>
        </div>
    </fieldset>
</form>