<legend>Quick Facts</legend>
<div class="row">
    <div class="col-lg-6">
        <label>Net Income:</label>
        <span data-bind="text: netIncome"></span>
    </div>
    <div class="col-lg-6">
        <label>Yearly Spending</label>
        <span data-bind="text: yearlySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label>Yearly Investment:</label>
        <span data-bind="text: yearlyInvestment"></span>
    </div>
    <div class="col-lg-6">
        <label>Monthly Spending:</label>
        <span data-bind="text: monthlySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label>Years until retirement:</label>
        <span data-bind="text: yearsTillIndependent"></span>
    </div>
    <div class="col-lg-6">
        <label>Weekly Spending:</label>
        <span data-bind="text: weeklySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-offset-6">
        <label>Daily Spending:</label>
        <span data-bind="text: dailySpend"></span>
    </div>
</div>