<legend>Quick Facts</legend>
<div class="row">
    <div class="col-lg-6">
        <label>Avg. Net Income:</label>
        <span data-bind="text: netIncome"></span>
    </div>
    <div class="col-lg-6">
        <label>Avg. Yearly Spending</label>
        <span data-bind="text: yearlySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label>Avg. Yearly Investment:</label>
        <span data-bind="text: yearlyInvestment"></span>
    </div>
    <div class="col-lg-6">
        <label>Avg. Monthly Spending:</label>
        <span data-bind="text: monthlySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-6">
        <label>Avg. Weekly Spending:</label>
        <span data-bind="text: weeklySpend"></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-6">
        <label>Avg. Daily Spending:</label>
        <span data-bind="text: dailySpend"></span>
    </div>
</div>